/*  PRESET COLORS */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
:root{
    --webkit-color-black: #202020;
    --webkit-color-darkGray:#3F3F3F;
    --webkit-color-lightGray:#707070;
    --webkit-color-white:#FFFFFF;
    --webkit-color-yellow:#FFDF6C;

    --webkit-font-family1: 'Arial', Helvetica, sans-serif;
    --webkit-font-family1: 'Arial', Helvetica, sans-serif;

    --webkit-transition: all .4s ease;

}
/* PRESET */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .wrapper{
      display: flex;
  }

  .skewRight{
    background-color:#202020;
  }
  .skewLeft{
    background-color:#202020;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 1px #FFDF6C;
  }

/* MEDIA QUERIES */

@media screen and (max-width: 992px){
    .navbar.navbar-expand-lg{
        background-color: #202020;
    }
    
    .aboutmet > h3{
        margin-top: 1rem;
    }
    
}


/* BODY */
*{
    box-sizing: border-box;
    
}
html, body{
    max-width: 100%;
    overflow-x: hidden;
}
body{
    background-color: #707070;
    
}
/* NAV BAR */


    

#navMain a,h2{
    color: #FFDF6C;
    font-family: 'Major Mono Display', monospace;

    
}
#navMain a:hover{
    transform: scale(1.1);
    
    transition: var(--webkit-transition)
}
.navbar-nav  li > a {
    margin: 0px 3rem;
}
span i {
    color: #FFDF6C;
}


/************************************************************************/
/* HEADER IMG */

.headerSkew{
    height: 700px;
    background-image: url('/assets/image/montage5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 70% 100%, 0% 70% );
    
}
.imag{
    
    width: 900px;
}
.modify{
    color: #FFDF6C;
    margin: 0px auto;
    margin-top: 15%;
    font-family: 'Major Mono Display', monospace;
}
.underline{
    opacity: 50%;
}

/************************************************************************/

/* SKILL SECTION */

h3{
    font-family: var(--webkit-font-family1);
}
.logo{
    max-width: 15rem;
    margin: 2rem auto;
}
.skillSection{
    width: 90%;
    margin: 0px auto;
    margin-top: 60px;  
}
span > img{
    max-width: 4rem;
}
.skill-level{
    margin: 1rem auto;
}

/************************************************************************/

/* ABOUT ME */

.about-me{
    height: auto;
    display: flex;
    justify-content: center;
}
.aboutmet{
    color: #FFDF6C;
    text-align: center;
    align-self: center;
    
}
#aboutme{
    display: block;
    position: relative;
    max-width: 100%;  
    text-align: center;  
    animation: logobright 2s ease-in-out infinite;
}
@keyframes logobright {
    20%{
        filter:brightness(140%);
        transform:rotate(3deg);
    }
    20%{
        filter:brightness(170%);
    }
    50%{
        filter:brightness(120%);
    }
    70%{
        filter:brightness(80%);
    }
    100%{
        filter:brightness(100%);
    }
}

/************************************************************************/
/* INFO */
.more-info{
    height: 200px;
    
}
.more-info2{
    max-width: 80%;
    margin: 0px auto;
    padding: 1.5rem 0px;

    transform: translateY(9rem);
    background-color: #3F3F3F;
    border-radius: 15px;
    color: #FFDF6C;
    text-align: center;
}
@media screen and (max-width: 768px){
    .more-info2{
        max-width: 100%;
        margin: 0px auto;
        transform: translateY(0rem);
        border-radius: 0px;
        color: #FFDF6C;
        text-align: center;
        
    }
    .more-info{
        height: 200px;
        background-color: #3F3F3F;
        display: flex;
        align-items: center;
    }
}
/* FOOTER */

.foot{
    height: 300px;
    background-color: #202020;   
}
.footerwrap{
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
    
    
}
.centerr {
    width: 3rem;
}
.footerwrap > a:hover{
    transform: scale(1.2);
    transition: 0.4s ease;
}

/* HAMBURGER BUTTON */ 


.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
  }
  .line {
    fill: none;
    stroke: var(--webkit-color-yellow);
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  
  
/* MY APP SECTION */

.myapp{
    height: 50px;
    width: 150px;
    color: #FFDF6C;
}

.mastermind{
    margin-top: 25px;
    width: 400px;
    transition: all 0.5s ease-out;
}
.mastermind:hover{
    transform: scale(1.1);
    filter:brightness(130%);
}

.mastermindt{
    color: #FFDF6C;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 3rem 0px;
    background-color:#202020;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 1px #FFDF6C;
}

@media screen and (max-width: 768px){
    .master{
        background-color:#202020;
        border-radius: 15px;
        box-shadow: 0px 0px 15px 1px #FFDF6C;
        margin: 2rem 0;
    }
    .mastermindt{
        border: 0px;
        box-shadow: 0px 0px 0px 0px transparent;
    }
}