/*  PRESET COLORS */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
:root{
    --webkit-color-black: #202020;
    --webkit-color-darkGray:#3F3F3F;
    --webkit-color-lightGray:#707070;
    --webkit-color-white:#FFFFFF;
    --webkit-color-yellow:#FFDF6C;

    --webkit-font-family1: 'Arial', Helvetica, sans-serif;
    --webkit-font-family1: 'Arial', Helvetica, sans-serif;

    --webkit-transition: all .4s ease;

}
/* PRESET */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .wrapper{
      display: flex;
  }

  .skewRight{
    background-color:#202020;
  }
  .skewLeft{
    background-color:#202020;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 1px #FFDF6C;
  }

/* MEDIA QUERIES */

@media screen and (max-width: 992px){
    #navMain{
        background-color: #202020;
    }
    
    .aboutmet > h3{
        margin-top: 1rem;
    }
    
}


/* BODY */
*{
    box-sizing: border-box;
}
body{
    background-color: #707070;
}
/* NAV BAR */


    

#navMain a,h2{
    color: #FFDF6C;
    font-family: 'Major Mono Display', monospace;

    
}
#navMain a:hover{
    transform: scale(1.1);
    
    transition: var(--webkit-transition)
}
.navbar-nav  li > a {
    margin: 0px 3rem;
}
span i {
    color: #FFDF6C;
}


/************************************************************************/
/* HEADER IMG */

.headerSkew{
    height: 700px;
    background-image: url('/assets/image/montage5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 70% 100%, 0% 70% );
    
}
.imag{
    
    width: 900px;
}
.modify{
    color: #FFDF6C;
    margin: 0px auto;
    margin-top: 15%;
    font-family: 'Major Mono Display', monospace;
}
.underline{
    opacity: 50%;
}

/************************************************************************/

/* SKILL SECTION */

h3{
    font-family: var(--webkit-font-family1);
}
.logo{
    max-width: 15rem;
    margin: 2rem auto;
}
.skillSection{
    width: 90%;
    margin: 0px auto;
    margin-top: 60px;  
}
span > img{
    max-width: 4rem;
}
.skill-level{
    margin: 1rem auto;
}

/************************************************************************/

/* ABOUT ME */

.about-me{
    height: auto;
}
.aboutmet{
    color: #FFDF6C;
    text-align: center;
    align-self: center;
    
}
#aboutme{
    display: block;
    position: relative;
    max-width: 100%;  
    text-align: center;  
}

/************************************************************************/
/* INFO */
.more-info{
    height: 200px;
    
}
.more-info2{
    max-width: 80%;
    margin: 0px auto;
    transform: translateY(9rem);
    background-color: #3F3F3F;
    border-radius: 15px;
    color: #FFDF6C;
    text-align: center;
}
@media screen and (max-width: 768px){
    .more-info2{
        max-width: 100%;
        margin: 0px auto;
        transform: translateY(0rem);
        border-radius: 0px;
        color: #FFDF6C;
        text-align: center;
        
    }
    .more-info{
        height: 200px;
        background-color: #3F3F3F;
        display: flex;
        align-items: center;
    }
}
/* FOOTER */

.foot{
    height: 300px;
    background-color: #202020;
}
.centerr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    width: 5rem;
  }
